{% extends 'myFirstapp/headers.html' %}
    {% block content %}
    

    

    <h1 class=" text-center mt-11 mx-9 text-slate-500 ">Welcome</h1>
    <div class="flex flex-col mt-16 px-3 items-center ">

        <p class="text-cyan-800">If you want to go in Blog page Click</p>
        <a href="{% url 'Blog' %}" class="p-3 hover:bg-gray-400 hover:text-cyan-100 text-cyan-600 bg-zinc-200 m-3 rounded-xl w-16 cursor-pointer text-center"  >Blogs</a>

        <p>Title, {{title}}</p>
        <p>{{qs}}</p>
        <p>{{page_filter}}</p>
    </div>
    "title" : title,
        "percent" : percent,
        "qs" : qs.count(),
        "page_filter" : page_filter

    {% endblock %}
    

